# Public (Vite) env vars
VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_ALGOD_URL=https://testnet-api.algonode.cloud
VITE_INDEXER_URL=https://testnet-idx.algonode.cloud
VITE_NETWORK=testnet
VITE_EARL_ASA_ID=756256156
VITE_VNFT_ADMIN_ADDRESS=DTXJYIPBBFDMREX27RS4ZY6YN7E455ASXKCYAENM77SJIEVPWB2UZZAPMA
VITE_USDC_ASA_ID=10458941
VITE_GOV_APP_ID=
VITE_TREASURY_ADDRESS=
VITE_STRIPE_PUBLISHABLE_KEY=
VITE_EARL_STRIPE_PRICE_ID=
VITE_MEMBERSHIP_STRIPE_PRICE_ID=
VITE_ENABLE_ATOMIC_SWAP=false
VITE_WC_PROJECT_ID=
VITE_SITE_URL=
